<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/unittest/tests" />
        <option value="$PROJECT_DIR$/unittest/tests" />
        <option value="$PROJECT_DIR$/public/authentication/googleLogin/google-api/tests" />
        <option value="$PROJECT_DIR$/public/authentication/googleLogin/google-api/tests" />
        <option value="$PROJECT_DIR$/unittest/tests" />
        <option value="$PROJECT_DIR$/unittest/tests" />
        <option value="$PROJECT_DIR$/public/authentication/google-api/tests" />
        <option value="$PROJECT_DIR$/public/authentication/google-api/tests" />
        <option value="$PROJECT_DIR$/unittest/tests" />
        <option value="$PROJECT_DIR$/public/authentication/google-api/tests" />
        <option value="$PROJECT_DIR$/unittest/tests" />
      </list>
    </option>
  </component>
</project>